{% extends "restaurants/base.html" %}
        {% block content %}

        <h4 style="text-align:center;">My Restaurant <small><a href="{% url "Restaurant:restaurants-create" %}">Add </a></small> </h4>
        <div style="text-align:center;">
        {% for obj in object_list %}
        <li><a href="{{ obj.get_absolute_url }}">{{ obj }}</a></li>
       Name:{{ obj.name }} <br>   location:{{ obj.location }} <br> category:{{ obj.category }}  <br> Created:{{ obj.timestamp }} <br> Updated:{{ obj.updated }}
        <hr>
        {% empty %}
        <li><a href="{% url "Restaurant:restaurants-create" %}">Add One</a></li>
        {% endfor %}

      </div>
      {% endblock content %}
  
  
